* {
    font-family: Courier New;
}

.color0 {
    background: #c71818;
}
.color1 {
    background: #dc143c;
}
.color2 {
    background: #388f89;
}
.color3 {
    background: #2b579a;
}
.color4 {
    background: #094ab2;
}
.color5 {
    background: #80397b;
}
.color6 {
    background: #e9ae11;
}
.color7 {
    background: #217346;
}
.color8 {
    background: #009999;
}
.color9 {
    background: #9b6bbd;
}

section.login {
    color: #FFF;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

section.login .login-info {
    width:300px;
    height: 180px;
    background:#FFF;
    border: 10px solid #000;
    margin: 15em auto;
}

section.main {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    overflow: hidden;

    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}